<form method="POST" asp-action="PostStorage" asp-controller="Storage">
    <label for="StorageName">Storage Name</label>
    <input id="StorageName" name="StorageName" placeholder="storage name goes here" />
    <input type="submit" />
</form>